<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840228174511-78cd9ldnk73q2do0opg9cbatdqeqhnr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840228174511-78cd9ldnk73q2do0opg9cbatdqeqhnr5</string>
	<key>API_KEY</key>
	<string>AIzaSyAh8OoY_C9xqFOZgRuAqdYp5Yxinxrofvk</string>
	<key>GCM_SENDER_ID</key>
	<string>840228174511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.wit.blueprintMobileDart</string>
	<key>PROJECT_ID</key>
	<string>blueprint-mobile-dart</string>
	<key>STORAGE_BUCKET</key>
	<string>blueprint-mobile-dart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840228174511:ios:904636f675c266b69c725a</string>
</dict>
</plist>